@page
@model Doctor_Attendance.Pages.New.ViewAttendanceModel
@{
}

<body>
<form method="post" enctype="multipart/form-data" >
    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
    @{
        var currentDate = DateTime.Today.ToString("yyyy/MM/dd");
    }
    <div class="border p-3 nt-4">
        <div class="row pb-2">  
            <h2 class="text-primary pl-3 col">
             View Attendances &nbsp &nbsp
            </h2>
            
        </div>
    <div class="nb-3">
    <input   type="text" id="datepicker" name="datepicker" value="Choose a date" class="form-control-lg"  />
    </div><br>

     <td><input type="text" asp-for="@Model.datev" id="datePicker_2" value="@currentDate"  hidden/></td>
     <div class="nb-3">
    <button type="submit" asp-page-handler="Next" class="btn btn-outline-primary btn-lg" style="width:70px"  >Next</button><br>
    </div><br>
    <h3 class="text-primary">
           @Model.datev.ToString("yyyy/MM/dd")
       </h3>
    
    <br>
<table id="attendanceTable" class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>NbHours</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            
                @for (int i = 0; i < Model.AttendanceRecords.Count; i++)
                {
                    var record = Model.AttendanceRecords[i];
                    var doctor = Model.Doctor?.FirstOrDefault(d => d.DoctorId == Model.AttendanceRecords[i].DoctorId);

                    var firstname = doctor != null ? doctor.Firstname : "N/A";
                    var lastname = doctor != null ? doctor.Lastname : "N/A";
                    var name = firstname + " " + lastname ;
                    var id = doctor != null ? doctor.DoctorId.ToString() : "N/A";
                    var categoryId = doctor?.Category?.CategoryId ?? 0;
                    var isCategoryIdOne = categoryId == 1;
                   

                    <tr class="table-light">
                        <th scope="row"><label>@name</label></th>

                        <td><input class="form-control-plaintext" style="width: 150px; height: 30px;" type="number" asp-for="@Model.AttendanceRecords[i].DoctorId" value="@id" readonly  /></td>
                        <td>
                            @if (isCategoryIdOne)
                            {
                                <input class="form-control-plaintext" style="width: 150px; height: 30px;" type="number" asp-for="@Model.AttendanceRecords[i].NbHours"  readonly="@(record.Published == true)" />
                            }
                            else
                            {
                                <input class="form-control-plaintext" style="width: 150px; height: 30px;"  type="number" asp-for="@Model.AttendanceRecords[i].NbHours" disabled />
                            }
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" asp-for="@Model.AttendanceRecords[i].Comments"  readonly="@(record.Published == true)" />
                        <input  type="checkbox" style="positon: relative; width: 90px; height: 20px;" name="AttendanceRecords[@i].Attended" value="true" checked="@(Model.AttendanceRecords[i].Attended == true)" hidden="@(record.Published == true)" hidden/>
                        <input type="text" asp-for="@Model.AttendanceRecords[i].Date"  hidden />
                        <input type="text" asp-for="@Model.AttendanceRecords[i].Published"  hidden />
                         <input type="number" asp-for="@Model.AttendanceRecords[i].AttId" hidden />
                         <input type="number" asp-for="@Model.AttendanceRecords[i].DepId" value="1" hidden />
                        <input asp-for="AttendanceRecords[i].Attended" value="false" hidden /></td></tr>
                    
                }
        </tbody>
    </table>

</form>
</body>
</div>

    @section Scripts {
    <script>
        $(function () {
            $("#datepicker").attr("max", getCurrentDate());

            function getCurrentDate() {
                var currentDate = new Date();
                currentDate.setDate(currentDate.getDate() + 1);
                var year = currentDate.getFullYear();
                var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
                var day = ("0" + currentDate.getDate()).slice(-2);
                return `${year}-${month}-${day}`;
            }

            $("#datepicker").change(function () {
                var selectedDate = $(this).val();
                $('[id^="datePicker_"]').val(selectedDate);
            });
        });
    </script>

    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                maxDate: "+0d",
                beforeShowDay: function (date) {
                    var currentDate = new Date();
                    currentDate.setHours(0, 0, 0, 0);
                    var day = date.getDay(); // Get the day of the week (0-6, where 0 is Sunday)
                    var formattedDate = $.datepicker.formatDate("dd/mm", date); // Get the formatted date (dd/mm)
                     var disabledDates = ["22/11", "01/06", "10/12", "25/12"];
                    // Disable Saturdays (day = 6), Sundays (day = 0)
                    if (day === 0 || day === 6 ) {
                        return [false];
                    }
                    // Disable specific dates
                    for (var i = 0; i < disabledDates.length; i++) {
                     if (formattedDate === disabledDates[i]) {
                       return [false];
                 
                     }
                    }
                    return [date <= currentDate];
                },
                onSelect: function (dateText) {
                    $('[id^="datePicker_"]').val(dateText);
                }
            });
        });
    </script>
    
}

