@page
@model Doctor_Attendance.Pages.S.Faculties.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Faculty[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty[0].Doctor)
            </th>
            <th>
                Sections
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var faculty in Model.Faculty)
        {
            <tr>
                <td>@faculty.Name</td>
                <td>@faculty.Doctor.Fullname</td>
                <td>
                    @if (faculty.Sections.Any())
                    {
                        <ul>
                            @foreach (var section in faculty.Sections)
                            {
                                <li>
                                    @Html.DisplayFor(modelItem => section.Location)
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No sections found for this faculty.</span>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@faculty.Facultyid">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@faculty.Facultyid">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@faculty.Facultyid">Delete</a>
                </td>
            </tr>
        }

        @*@foreach (var item in Model.Faculty)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Fullname)
                </td>
                <td>
                    @if (item.Sections.Any())
                    {
                        @foreach (var section in item.Sections)
                        {
                        <td>
                            @Html.DisplayFor(modelItem => section.Location)
                        </td>
                    }
                    }
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Facultyid">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Facultyid">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Facultyid">Delete</a>
                    </td>
                </tr>
        }*@
    </tbody>
</table>
