@page
@model Doctor_Attendance.Pages.S.Attendances.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Attendence</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendence.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendence.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendence.NbHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendence.NbHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendence.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendence.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendence.Dep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendence.Dep.DepId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendence.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendence.Doctor.DoctorId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Attendence.AttId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
