@page "{searchString?}"
@model Doctor_Attendance.Pages.S.Attendances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Attendances</h1>

<h3>
    <a asp-page="AddAttendance">Add Attendance By Date</a>
</h3>
<nbspr>
    <h3>
        <a asp-page="EditAttendance">Add Attendance By Doctor (Fadye) leem nshtghl 3laiha </a>
    </h3>
</nbspr>
<br />

<h3>
    <a asp-page="EditAttendance">Add Attendances By Date and publish</a>
</h3>
@*<p>
        @Model.s
    </p>
    <p>
        @Model.s1
    </p>*@

<form>
    <p>
        Search By Date or Doctor Name <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                NbHours
            </th>
            <th>
                Comments
            </th>
            <th>
                Department
            </th>
            <th>
                Doctor
            </th>
            <th>
                Published
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Attendances)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dep.DepName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Fullname)
                </td>
                <td style="padding-left: 10px">
                    @*checking if published and corssing it out <fouad></fouad>*@
                    <input type="checkbox" disabled="disabled" @(item.Published.HasValue && item.Published.Value ? "checked" : "") />
                </td>
                <td>
                    @if (!item.Published.HasValue || !item.Published.Value)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.AttId" asp-route-Date="@item.Date">Edit | </a>
                        <a asp-page="./Delete" asp-route-id="@item.AttId" asp-route-Date="@item.Date">Delete | </a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.AttId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
