@page "{searchString?}"
@model Doctor_Attendance.Pages.S.Attendances.IndexModel

@{
    ViewData["Title"] = "Attendances";
}

<h1>Attendances</h1>

@if (Model.RoleName.Equals("Secretary") || Model.RoleName.Equals("Admin")) //Only Secratary can add attendance
{
    <h3>
        <a asp-page="/S/AttendanceMonth/Index">Add Attendance for Doctor for Full Month</a>
    </h3>
    <nbspr>
    </nbspr>

    <h3>
        <a asp-page="EditAttendance">Add Attendance By Date</a>
    </h3>
}

else
{
    <h3>
        <a asp-page="/S/AttendanceMonth/Index">View Attendance for Doctor for Full Month</a>
    </h3>
    <nbspr>
    </nbspr>

    <h3>
        <a asp-page="EditAttendance">View Attendance By Date</a>
    </h3>
}

<form>
    <p>
        Search By Date or Doctor Name <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                NbHours
            </th>
            <th>
                Comments
            </th>
            <th>
                Department
            </th>
            <th>
                Doctor
            </th>
            <th>
                Published
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Attendances)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dep.DepName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Fullname)
                </td>
                <td style="padding-left: 10px">
                    @*checking if published and corssing it out <fouad></fouad>*@
                    <input type="checkbox" disabled="disabled" @(item.Published.HasValue && item.Published.Value ? "checked" : "") />
                </td>
                <td>
                    @if (Model.RoleName.Equals("Admin") || Model.RoleName.Equals("Secretary"))
                    {
                        @if (!item.Published.HasValue || !item.Published.Value)
                        {
                            <a asp-page="./Edit" asp-route-id="@item.AttId" asp-route-Date="@item.Date">Edit | </a>
                            <a asp-page="./Delete" asp-route-id="@item.AttId" asp-route-Date="@item.Date">Delete | </a>
                        }
                    }
                    <a asp-page="./Details" asp-route-id="@item.AttId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
