@page "{searchString?}"
@model Doctor_Attendance.Pages.S.Attendances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Attendances</h1>

<h3>
    <a asp-page="AddAttendance">Add Attendance</a>
</h3>
<p>
    @Model.s
</p>
<p>
    @Model.s1
</p>

<form>
    <p>
        Search By Date or Doctor Name <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                NbHours
            </th>
            <th>
                Comments
            </th>
            <th>
                Department
            </th>
            <th>
                Doctor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Attendances) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dep.DepName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Fullname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AttId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AttId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AttId">Delete</a>

                <form method="post">
                <div class="form-group">
                    <input type="hidden" name="attendanceToPublishId" value="@item.AttId" />
                    
                                <button type="submit" class="btn btn-primary" name="attendanceToPublishId"  asp-route-id="@item.AttId" asp-page="./Details">View</button>

                             if (@item.Published == 0)
                                 <button type="submit" class="btn btn-primary" name="attendanceToPublishId"  asp-route-id="@item.AttId" asp-page-handler="Publish">Publish</button>
            </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
