@page
@model Doctor_Attendance.Pages.S.Attendances.ViewAttendanceModel
@{
}

<body>
<form method="post" enctype="multipart/form-data" >
    
    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
    @{
        var currentDate = DateTime.Today.ToString("yyyy/MM/dd");
    }
    <div class="border p-3 nt-4">
        <div class="row pb-2">  
            <h2 class="text-primary pl-3 col">
             View Attendances &nbsp &nbsp
            </h2>
            
        </div>

    <div class="nb-3">
    <input   type="text" id="datepicker" name="datepicker" value="Choose a date" class="form-control-lg"  />
    <button type="submit" asp-page-handler="Next" class="btn btn-outline-primary btn-lg" style="width:70px" id="resendValuesButton" >Next</button><br>
    </div>
    <br>
     <td><input type="text" asp-for="@Model.datev" id="datePicker_2" value="@currentDate"  hidden/></td>
    
    
    <br>
<table id="attendanceTable" class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>File Number</th>
                <th>NbHours</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            
                @for (int i = 0; i < Model.AttendanceRecords.Count; i++)
                {
                    var record = Model.AttendanceRecords[i];
                    var doctor = Model.Doctor?.FirstOrDefault(d => d.DoctorId == Model.AttendanceRecords[i].DoctorId);

                    var firstname = doctor != null ? doctor.Firstname : "N/A";
                    var lastname = doctor != null ? doctor.Lastname : "N/A";
                    var name = firstname + " " + lastname ;
                    var id = doctor != null ? doctor.DoctorId.ToString() : "N/A";
                    var categoryId = doctor?.Category?.CategoryId ?? 0;
                    var isCategoryIdOne = categoryId == 1;
                   var filenb = doctor != null ? doctor.FileNumber : "N/A";

                    <tr class="table-light">
                        <td scope="row">@name</td>
                         <td scope="row">@filenb
                             <input class="form-control-plaintext" style="width: 150px; height: 30px;" type="number" asp-for="@Model.AttendanceRecords[i].DoctorId" value="@id" readonly hidden />
                             </td>
                       
                        <td>
                            @if (isCategoryIdOne)
                            {
                                @Model.AttendanceRecords[i].NbHours
                            }
                            else
                            {
                             @Model.AttendanceRecords[i].NbHours
                            }
                        </td>
                        <td>
                            @Model.AttendanceRecords[i].Comments 
                        
                            <input  type="checkbox" style="positon: relative; width: 90px; height: 20px;" name="AttendanceRecords[@i].Attended" value="true" checked="@(Model.AttendanceRecords[i].Attended == true)" hidden="@(record.Published == true)" hidden/>
                        
                            <input type="text" asp-for="@Model.AttendanceRecords[i].Date"  hidden />
                        <input type="text" asp-for="@Model.AttendanceRecords[i].Published"  hidden />
                         <input type="number" asp-for="@Model.AttendanceRecords[i].AttId" hidden />
                         <input type="number" asp-for="@Model.AttendanceRecords[i].DepId"  hidden />
                        <input asp-for="AttendanceRecords[i].Attended" value="false" hidden /></td></tr>
                    
                }
        </tbody>
    </table>

</form>
</body>
</div>

    @section Scripts {
    <script>
        $(function () {
            $("#datepicker").attr("max", getCurrentDate());

            function getCurrentDate() {
                var currentDate = new Date();
                currentDate.setDate(currentDate.getDate() + 1);
                var year = currentDate.getFullYear();
                var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
                var day = ("0" + currentDate.getDate()).slice(-2);
                return `${year}-${month}-${day}`;
            }

            $("#datepicker").change(function () {
                var selectedDate = $(this).val();
                $('[id^="datePicker_"]').val(selectedDate);
            });
        });
    </script>

    <script>
        $(function () {
            var holidays = @Html.Raw(Json.Serialize(Model.Holidays));
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                maxDate: "+0d",
                beforeShowDay: function (date) {
                    var currentDate = new Date();
                    currentDate.setHours(0, 0, 0, 0);
                    var day = date.getDay(); // Get the day of the week (0-6, where 0 is Sunday)
                    var formattedDate = $.datepicker.formatDate("yy-mm-dd", date); // Updated format

                    // Disable Saturdays (day = 6), Sundays (day = 0)
                    if (day === 0 || day === 6) {
                        return [false];
                    }

                    // Check if the formatted date is in the holidays array
                    if (holidays.includes(formattedDate)) {
                        return [false];
                    }

                    return [date <= currentDate];
                },
                onSelect: function (dateText) {
                    $('[id^="datePicker_"]').val(dateText);
                }
            });
        });
    </script>
}
