@page
@model Doctor_Attendance.Pages.S.AttendancesTest.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Attendances for Dr. @Model.Doctor.Fullname</h1>


@{
    int totalDays = 0;
    int totalHours = 0;
    foreach (var item in Model.Attendence)
    {
        totalDays += 1;
        if (item.NbHours != null)
        {
            totalHours += (int)item.NbHours;

        }
    }
    if (totalDays == 0)
    {
        <h4>No Days Attended yet</h4>
    }
    else
    {
        <h4>Total Number of Days Attended : @totalDays &nbsp &nbsp &nbsp | &nbsp &nbsp &nbsp Total Number of Hours Given : @totalHours</h4>
    }
}


@*<p>
        <a asp-page="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendence[0].Date)
            </th>
            <th>
                Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendence[0].NbHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendence[0].Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Attendence)
        {
            <tr>
                <td>
                    @{
                        string dateValue = item.Date.ToShortDateString();
                    }
                    @Html.DisplayFor(modelItem => dateValue)
                </td>
                <td>
                    @{
                        string timeValue = item.Date.ToShortTimeString();
                    }
                    @Html.DisplayFor(modelItem => timeValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.AttId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.AttId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.AttId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
