@page
@model Doctor_Attendance.Pages.S.Departments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Nbdoctors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Nbdoctors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.DepName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.DepName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Doctor)
        </dt>
        <dd class="col-sm-10">
            @{
                string parameterValue = @Model.Department.Doctor.Firstname + " " + @Model.Department.Doctor.Lastname;
            }
            @Html.DisplayFor(modelItem => parameterValue)
        </dd>
    </dl>
</div>
<div>
    @if(Model.RoleName.Equals("Admin"))
   {
       <a asp-page="./Edit" asp-route-id="@Model.Department?.DepId">Edit</a> 
   } 
    <a asp-page="./Index">Back to List</a>
</div>
