@page
@model Doctor_Attendance.Pages.S.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="container mt-5" >
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
        <h1 class="mb-3">Register</h1>  

<form method="post">
    <div class="mb-3">
                <label class="form-label" asp-for="@Model.Input.Username">Email Address</label>
                <input type="text" asp-for="@Model.Input.Username" class="form-control">
                <span asp-validation-for="@Model.Input.Username" class="text-danger"></span>
            </div>

    <div class="mb-3">
                <label class="form-label" asp-for="@Model.Input.Password">Password</label>
                <input type="password" asp-for="@Model.Input.Password" class="form-control">
                <span asp-validation-for="@Model.Input.Password" class="text-danger"></span>
            </div>

    <div class="form-group">
        <label>Role</label>
        <div class="mb-3 form-check">
            <input type="radio" id="doctorRole" asp-for="Input.Role" value="Doctor" class="form-check-input" required />
            <label class="form-check-label" for="doctorRole">Doctor</label>
        </div>
        
        <div class="mb-3 form-check">
                <input type="radio"id="secretaryRole" asp-for="Input.Role" value="Secratary" class="form-check-input" required>
                <label class="form-check-label" for="secretaryRole">Secretary</label>
            </div>
    </div>
    <div class="mb-3"> 
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
</form>

</div></div>
</div>
