@page
@model Doctor_Attendance.Pages.S.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Dep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dep.DepName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmpId" asp-route-dep="@item.Dep">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
